<div class="quickevent row">
	<h1 class="title six mobile-two columns"><a href="/"><%= event_info.title %></a></h1>
	<h4 class="six mobile-two columns"><span class="radius label">Quick Event App</span></h4>
</div>
<header class="row">
	<!-- <h1 class="title"><a href="/"><%= event_info %></a></h1>	 -->
	<h1>Locations</h1>
	<hr>	
</header>

<section class="row">
  <% @locations.each do |location| %>
    <%= link_to location.name, "/map/#{location.id}" %>
  <% end %>
</section>
