<h1>Map</h1>

<!-- <%= content_tag "div", nil, { :id => "map_canvas", "data-lat" => @latitude, "data-long" => @longitude, :style => "width:500px; height:200px;" } %> -->

<div id="map_canvas" data-lat="<%= @latitude %>" data-long="<%= @longitude %>" style="width:500px; height:200px;"></div> 