<header class="row">
  <% content_for(:title) { "#{event_info.title} #{@page.pretty_title}" } %>
  <h1><%= @page.pretty_title %></h1>
  <hr>  
</header>
<section class="page row">
  <%= simple_format @page.content %>
</section>