<h1>Twitter</h1>

<ul>
<% Twitter.search("#{@hashtag}", :count => 10, :result_type => "recent").results.map do |status| %>
  <li>
    <%= status.from_user %>: <%= status.text %>
  </li>
<% end %>
</ul>